.fedml-page-footer[data-v-a7068509] {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 24px;
  line-height: 44px;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0 -6px 16px -8px #00000014, 0 -9px 28px #0000000d,
    0 -12px 48px 16px #00000008;
  transition: width 0.2s;
}
.fedml-page-footer__left[data-v-a7068509] {
  flex: 1 1;
}
.fedml-page-wrapper {
  position: relative;
}
.fedml-page-wrapper .fedml-page-wrapper-content {
  margin: 16px;
}
.fedml-page-wrapper .ant-page-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.fedml-page-wrapper .ant-page-header:empty {
  padding: 0;
}
.fedml-page-wrapper--dense .fedml-page-wrapper-content {
  margin: 0;
}
